$primary: #222831;
$secondary: #393e46;
$blue: #00adb5;
$white: #eee;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: $primary;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.padding-x {
  padding-inline: 3rem;
}
