$primary: #222831;
$secondary: #393e46;
$blue: #00adb5;
$white: #eee;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: $primary;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.padding-x {
  padding-inline: 3rem;
}

.display-2 {
  font-size: 2rem;
  color: rgb(255 255 255 / 0.7);
}

.padding-top {
  padding-top: 2rem;
}

.par {
  font-size: 1rem;
  color: $blue;
}
