@use '../globals' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  background: linear-gradient(0deg, $primary, $secondary);
  align-items: center;
  box-shadow: 1px 5px 10px rgba($color: #000, $alpha: 0.2);

  a {
    text-decoration: none;
  }

  .title {
    color: #fff;
  }

  .nav-section {
    .links {
      list-style: none;
      display: flex;
      gap: 1rem;

      .link {
        color: #fff;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          opacity: 0;
          bottom: 0;
          left: 0;
          background-color: $blue;
          transform: translateY(20px);
          height: 2px;
          width: 80%;
          transition: opacity, transform;
          transition-duration: 200ms;
        }

        &:hover::after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
